<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta http-equiv="X-UA-Compatible" content="ie=edge">
 <title>ToDo list</title>
</head>

<body>

 <h1>This is <%= kindOfDay %> </h1>

 <ul>
  
  <% for(var i = 0; i < appendItems.length; i++){ %>
   <li> <%= appendItems[i] %> </li>
  <% } %>

 </ul>
 
 <form action="/" method="POST">
  <input type="text" name="newItem">
  <button type="submit">Add</button>
 </form>

</body>

</html>